.search-input {
  border-color: $lightGreenColor;
  background-color: $lightGreyColor;

  &:hover,
  &:focus {
    color: $textColor;
    border-color: $lightGreenColor;
    background-color: $lightGreyColor;
  }
}
