$darkGreenColor: #243831;
$greenColor: #2b5f44;
$successColor: #49a569;
$lightGreenColor: #d8e9e4;
$goldenColor: #c5a365;
$lightGreyColor: #bbc2c0;
$darkGreyColor: #939494;

$textColor: #191919;
$titleColor: #101828;

:export {
  darkGreenColor: $darkGreenColor;
  greenColor: $greenColor;
  successColor: $successColor;
  lightGreenColor: $lightGreenColor;
  goldenColor: $goldenColor;
  lightGreyColor: $lightGreyColor;
  darkGreyColor: $darkGreyColor;
  textColor: $textColor;
  titleColor: $titleColor;
}
